<input [(ngModel)]="newUser.name" type="text" placeholder="Nombre">
<br>
<input [(ngModel)]="newUser.email" type="text" placeholder="Correo">
<br>
<input [(ngModel)]="newUser.password" type="password" placeholder="Contraseña">
<br>
<input [(ngModel)]="newUser.password2" type="password" placeholder="Confirma contraseña">
<br>
<button (click)="signUp()" *ngIf="newUser.password === newUser.password2">Registrarse</button>
<button *ngIf="newUser.password !== newUser.password2" disabled>Registrarse</button>
<br>
<div *ngIf="reparar">
  <h1>hola necesito reparación</h1>
</div>

<div *ngIf="reparo">
  <form>
    in
  </form>
  <h1>Te ayudo a reparar</h1>
</div>
<button (click)="selectReparar()">Necesito reparación</button>
<button (click)="selectReparo()">Quiero reparar</button>