<div class="all">
  <div class="container">
    <br>
    <select class="custom-select" data-style="btn-success" [(ngModel)]="newUser.option" name="options" id="inputGroupSelect01">
    <option hidden >Display but don't show in list</option>
    <option value="tecnico">Tecnico</option>
    <option value="cliente">Cliente</option>
    </select> 
    <br>
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input [(ngModel)]="newUser.name" id="name" type="text" class="form-control" name="name" placeholder="Name">
    <!-- <input *ngIf="newUser.option=='tecnico'" [(ngModel)]="newUser.name" id="name" type="text" class="form-control" name="name" placeholder="Name"> -->
    <br>
    <span class="glyphicon glyphicon-user"></span>
    <input [(ngModel)]="newUser.email" id="email" type="text" class="form-control" name="email" placeholder="Email">
    <br>
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input [(ngModel)]="newUser.password" id="password" type="password" class="form-control" name="password" placeholder="Password">
    <br>
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input [(ngModel)]="newUser.password2" id="password2" type="password" class="form-control" name="password2" placeholder="Confirm password">
    <br>
    <div id="registro">
      <button class="btn btn-primary btn-lg btn-block" (click)="signUp()" *ngIf="newUser.password === newUser.password2">Registrarse</button>
      <button class="btn btn-primary btn-lg btn-block" *ngIf="newUser.password !== newUser.password2" disabled>Registrarse</button>
      <br>
    </div>
  </div>
</div>
