.padre{
    position: relative;
    background-image: url("http://localhost:3000/images/fondo3.png");
    background-size: 150px 150px;
    height: 150px;
    margin-bottom: 0%
}

.marca{
    position:relative;
    display: flex;
    align-items: center;
    padding-left: 250px;
    padding-bottom: -20px
}

.navbar{
    background-color: rgba(66, 72, 73, 0);
    color: white;
    margin-bottom: -70px;
    z-index: 1;
    font-size: 150%
}

h2{
    font-size: 40px
}

ul {
    display: flex;
    list-style: none;
}
li{
    margin-right: 100px
}