<div class="all">
<div class="card">
    <ul class="ch-grid">
        <li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Celulares</h3>
                <p>Costo <a href="http://drbl.in/eOPF">Según servicio</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-2">
            <div class="ch-info">
                <h3>Laptops</h3>
                <p>Costo<a href="http://drbl.in/eKMi">Según servicio</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-3">
            <div class="ch-info">
                <h3>Consolas</h3>
                <p>Costo<a href="http://drbl.in/ekhp">Según servicio</a></p>
            </div>
        </div>
    </li>
</ul>
</div>
</div>
